.typeWindows-2-g3UY>.wordmark-2u86JB:before{
    content:"";
}
.typeWindows-2-g3UY>.wordmark-2u86JB:after{
    content:"";
}

.theme-dark .container-YkUktl:before{
    content:"";
}
.theme-dark .container-YkUktl:after{
    content:"";
}

.theme-dark .container-YkUktl{
    margin-bottom:0px;
}

.typeMacOS-3V4xXE {
    display: none !important;
}

.scroller-2qwVWY {
    margin-top: 0 !important;
}
