.typeWindows-2-g3UY>.wordmark-0d178:before{
    content:"";
}
.typeWindows-2-g3UY>.wordmark-0d178:after{
    content:"";
}

.theme-dark .container-ca50b9:before{
    content:"";
}
.theme-dark .container-ca50b9:after{
    content:"";
}

.theme-dark .container-ca50b9{
    margin-bottom:0px;
}

.typeMacOS-3V4xXE {
    display: none !important;
}
